body{
  padding: 0;
  margin: 0;
}
.header{
  background-image: url(./publics/images/parallax01.jpg);
  width: 100%;
  height: 130vh;
}
.img-cap{
  width: 100%;
  height: 150px;
  background-color: yellow;
}
.img-cap h1{
  line-height: 1;
  display: inline;
}
.img-cap h5 , h1 , span{
  color: green;

}

.card-body > span{
  line-height: 2rem;
  color: grey;

}
.section1{
  background-color: aliceblue;
  width: 100%;
}
.section1-img img{
  border-radius: 50%;
}